body {
    background-color: #c0c0c0;
    color: #000000;
    }


h1.main {
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    height: 20px;
    width: 300px;
    margin: 100px auto auto;}