<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style type="text/css" rel="stylesheet">
    body {
        background-color: #c0c0c0;
        color: #000000;
        }


    h1.main {
        font-family: "Courier New", Courier, monospace;
        font-weight: normal;
        height: 20px;
        width: 300px;
        margin: 100px auto auto;}
    </style>
    <link href="css/error.css" rel="stylesheet">
</head>
<body>
<h1 class="main">I'm sorry, but this page doesn't exist. <br /> 404 :(</h1>
</body>
</html>