{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />
{% endblock %}
{% block title %}Flasky{% endblock %}

{% block page_content %}
    {% block styles %}
    {{ super() }}
        <style type="text/css" rel="stylesheet">
            div.flask-pagedown-preview {
                margin: 10px 0px 10px 0px ;
                border-radius: 3px;
                padding: 10px;
                background-color: #ffffff;
                }
            div.forms {
                padding: 0px 0px 50px 0px;
                }
        </style>
    {% endblock %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div class="forms">
    {% if current_user.can(Permission.WRITE) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
